.game{
  background-color: #343A40;
  color: #28A645;
}

hr{
  background-color: #28A645;
}

 .search, .search:focus{
  background-color:#343A40;
  color: #28A645;
  border-color: #28A645;
  text-decoration: none;
  text-align: center;
}

.row, h2, small{
  color: #28A645;
}

.link{
  text-decoration: none !important;
}

.jail{
  border-style: solid;
  border-color: #28A645;
}

footer {
    position: fixed;
    bottom: 0%;
    text-align: center;
    width: 100%;
    color: #28A645;
    height: 24px;
}

/* Animations */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
